.cart{
    background-color: #ff990088;
    padding: 10px;
    position: sticky;
    top: 0;
}

.cart h3{
    text-align: center;
    margin-bottom: 20px;
}
.cart p{
    padding: 15px;
    font-size: 17px;
}

.cart h4{
    padding-left: 15px;
    padding-bottom: 15px;
}

.btn-clear-cart{
    margin: 10px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding:5px 10px;
    background-color: rgb(255, 108, 108);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}