
.review-container{
    margin: 50px;
}

.review-item{
    margin-left: 20px;
    margin-top: 20px;
    width: 571px;
    min-height: 107px;
    border: 2px solid red;
    padding: 10px;
    border-radius: 5px;
    display: flex
}

.review-item .product-item{
    font-weight: 500;
    font-size: 17px;
    line-height: 25PX;
    letter-spacing: 0.0015em;
}
 .review-details {
    flex-grow: 1;
    margin: auto 15px;
}

.review-item img{
    width: 91px;
    border-radius: 6px;
}
.orange-text{
    color: #b66e00;
}
.btn-delete{
    margin: auto 0;
    display: grid;
    place-items: center;
    height: 55px;
    width: 55px;
    background-color: #ffbaba;
    border-radius: 50%;
    font-size: 28px;
    border-color: #ff3131;
    color: #ff3131;
    cursor: pointer;
}
.btn-delete:hover{
    transition: all .22s linear;
    background-color: #6a1900;
    color: aliceblue;
}