.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px;
}

.cart-container {
    margin-top: 50px;
    margin-right: 50px;
}


@media (max-width:560px) {

    .shop-container{
        grid-template-columns: 1fr;
    }

    .product-container {
        grid-template-columns: 1fr;
        order: 2;
        margin: 0 auto;
    }

    .cart-container{
        /* display: none; */
        margin-bottom: 20px;
        order: 1;
        text-align: center;
        background-color: #ffffff;
        width: 100%;
    }


}